#analysisDataTB, #analysisDataTB:focused {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #DCDCDC;
}

#exchangeDataTB, #exchangeDataTB:focused {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #DCDCDC;
}

.mytext_ok {
    -fx-background-color: Red;
}

#viewDataTable {
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.ExpandableTableViewSkin";
}

#viewDataTable .column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#viewDataTable .column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

#viewDataTable .column-header.filter-header .filter-active {
    -fx-background-image: url('/images/filter-selected.svg');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

#viewDataTable .column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

#viewDataTable .column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

#viewDataTable .column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

#viewDataTable .filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-pref-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

.column-header.filter-header .filter-active {
    -fx-background-image: url('/images/filter-selected.svg');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

.column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

.column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

.column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

.filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.table-filter-btn {
    -fx-min-height: 21;
    -fx-min-width: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
}

.table-filter-btn:hover {
    -fx-border-color: null;
    -fx-background-color: null;
}

.table-filter-btn:pressed {
    -fx-background-color: null;
}

.table-filter-btn:focused, .btn-icon:focused:hover {
    -fx-border-color: COLOR_GRAY_66;
    -fx-border-style: dotted;
}

.table-view .column-header .label .label {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}

.table-view:focused {
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/*.tab-pane {*/
/*-fx-skin:  "com.dmsoft.firefly.plugin.spc.utils.HTabPaneSkin";*/
/*}*/
/*.tab-pane > .tab-header-area {*/
/*-fx-background-color: #dff0cf;*/
/*-fx-padding: 0;*/
/*!*-fx-pref-height: 100;*!*/
/*}*/

/**
table
**/
.cell .edited {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}

.cell .error .check-box:disabled > .box {
    -fx-border-color: #ea2028;
    -fx-background-color: #fde8e9;
}

.cell .error .check-box:disabled {
    -fx-opacity: 1;
    -fx-cursor: inherit;
}

.cell .error .radio-button > .radio {
    -fx-padding: 0.16em;
    -fx-border-radius: 0.5em;
    -fx-border-color: #ea2028;
    -fx-background-color: #fde8e9;
}

.cell .error .radio-button {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.cell .alarm {
    -fx-text-fill: white;
}

/*
*Spc setting
*/
.alarm-excellent {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #4ebe11;
}

.alarm-good {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #27b5b3;
}

.alarm-acceptable {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #487cf4;
}

.alarm-rectification {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #f38400;
}

.alarm-bad {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #ea2028;
}

#testItemTable .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.btn-group {
    -fx-border-width: 1px 0px 1px 1px;
}

.btn-group-last {
    -fx-border-width: 1px 1px 1px 1px;
}

.btn-group:hover,
.btn-group:focused,
.btn-group:pressed,
.btn-group:focused:hover,
.btn-group-last:hover,
.btn-group-last:focused,
.btn-group-last:pressed,
.btn-group-last:focused:hover {
    -fx-border-width: 1;
    -fx-border-color: COLORFUL_AUXILIARY_BLUE;
}

/*******************************************************************************
 *                                                                             *
 *grr  page css                                                                *
 *                                                                             *
 ******************************************************************************/
.grr-btn-h-box{
    -fx-alignment: CENTER;
    -fx-spacing: 3;
    -fx-padding: 0 3 0 0;
}
.grr-border-pane{
    -fx-pref-height: 28;
    -fx-max-height: 28;
    -fx-min-height: 28;
    -fx-background-color: COLOR_LIGHT_FF;
    -fx-padding: 0 0 0 10;

}
.grr-border-pane>.label{
    -fx-pref-height: 28;
    -fx-alignment:center;
}

.grr-reset-btn{
    -fx-pref-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-image: url('/images/reset.svg');
}

.grr-print-btn{
    -fx-pref-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-image: url('/images/print.svg');
}

.grr-export-btn{
    -fx-pref-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-image: url('/images/export.svg');
}

.grr-refresh-btn{
    -fx-pref-width: 22.0;
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-image: url('/images/check-white.svg');
}

.grr-refresh-able-btn{
    -fx-pref-width: 22.0;
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/images/check-white.svg');
}

.grr-refresh-disable-btn{
    -fx-pref-width: 22.0;
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-pref-height:22.0;
    -fx-background-size: 16;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/images/check-gray.svg');
}
.grr-is{
    -fx-pref-height: 22;
    -fx-max-height: 22;
    -fx-min-height: 22;
    -fx-pref-width: 22;
    -fx-max-width: 22;
    -fx-min-width: 22;
}
.grr-config-warn{
    -fx-padding: 0 26 0 0;
}

.grr-check-box{
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

/*******************************************************************************
 *                                                                             *
 *grr export/item page css                                                     *
 *                                                                             *
 ******************************************************************************/
.grr-export-h-box{
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-export-v-box-left{
    -fx-pref-height:200.0 ;
    -fx-pref-width: 100.0;
    -fx-padding:10 0 0 20;
    -fx-border-width: 0 1 0 0;
    -fx-border-color:COLOR_GRAY_DC;
}
.grr-export-location-path{
    -fx-pref-width: 250.0;
    -fx-border-width: 1 0 1 1;
}
.grr-export-split{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-import-config-btn{
    -fx-image: url('/images/load-script.svg');
}
.grr-datasource-btn{
    -fx-image: url('/images/datasource.svg');
}
.grr-config-btn{
    -fx-image: url('/images/config.svg');
}

.grr-save-btn{
    -fx-image: url("/images/save.svg");
}
.grr-analysis-btn{
    -fx-image: url("/images/analysis-white.svg");
}


.grr-item-tabs{
    -fx-pref-width: 180.0;
    -fx-min-width: 180.0;
    -fx-pref-height: 270.0;
    -fx-min-height: 270.0;
    -fx-tab-pref-width:45;
    -fx-tab-min-width:45;
    -fx-tab-max-width: 45;
    -fx-border-width: 0 0 0 0;
}
.grr-item-table,
.grr-item-table:focused{
    -fx-border-width: 1 0 0 0;
}

.grr-config{
    -fx-padding: 10 10 0 10;
    -fx-min-width: 160.0;
    -fx-pref-width: 160.0;
    -fx-pref-height: 350.0;
}
.grr-import-btn{
    -fx-alignment: center_right;
    -fx-pref-width: 180.0;
    -fx-padding: 0 20 0 0;
}

.grr-item-split{
    -fx-min-width: 180;
    -fx-pref-height: 600;
    -fx-border-width: 0 0 0 0;
}
.grr-item-btn{
    -fx-padding: 0 20;
    -fx-border-color:COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
}

.grr-item-background1{
    -fx-text-fill: COLORFUL_ATRRIBUTE_BLUE;
    -fx-background-color: COLORFUL_LIGHT_GREEN
}
.grr-item-background2{
    -fx-text-fill: COLORFUL_ATRRIBUTE_BLUE;
}
.grr-item-background3{
    -fx-background-color: COLORFUL_LIGHT_GREEN
}

/*******************************************************************************
 *                                                                             *
 *grr setting page css                                                         *
 *                                                                             *
 ******************************************************************************/
.grr-setting-label-white{
    -fx-pref-height: 22.0;
    -fx-pref-width: 160.0;
    -fx-padding: 0 0 0 10;
    -fx-background-color: COLOR_LIGHT_FF;
}
.grr-setting-label{
    -fx-pref-height: 22.0;
    -fx-pref-width: 160.0;
    -fx-padding: 0 0 0 10;
    -fx-background-color: COLOR_GRAY_F0;
}

.grr-setting-label-right{
    -fx-padding:10 0 0 0 ;
    -fx-font-weight: bold;
}

.grr-setting-h-box-lg{
    -fx-pref-height: 460.0;
    -fx-pref-width: 780.0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-setting-V-box-left{
    -fx-pref-height: 200.0;
    -fx-pref-width: 160.0;
    -fx-background-color: COLOR_GRAY_F0;
}

.grr-setting-V-box-right{
    -fx-pref-height: 200.0;
    -fx-pref-width: 100.0;
    -fx-padding: 10 0 0 20;
    -fx-spacing: 10;
}
.grr-setting-h-box-right{
    -fx-alignment: center_left;
    -fx-pref-height: 30.0;
    -fx-pref-width: 200.0;
    -fx-spacing: 10.0;
}
.radio-button-h-box{
    -fx-alignment: center_left;
    -fx-spacing: 20.0;
}
.grr-setting-excellent-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_DARK3_GREEN;
    -fx-text-fill: COLOR_LIGHT_FF;
}

.grr-setting-adequate-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_DARK_BLUE;
    -fx-text-fill: COLOR_LIGHT_FF;
}
.grr-setting-bad-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_PRIMARY_RED;
    -fx-text-fill: COLOR_LIGHT_FF;
}

/*******************************************************************************
 *                                                                             *
 *grr  export setting page css                                                 *
 *                                                                             *
 ******************************************************************************/
.grr-export-setting-pane{
    -fx-pref-height: 200.0;
    -fx-pref-width: 100.0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-padding: 20 0 0 20;
}
.grr-export-detail{
    -fx-spacing: 10.0;
    -fx-padding: 10 0 0 20;
}
.grr-export-grid-pane{
    -fx-padding: 0 0 10 40;
}
.grr-setting-export-btn{
    -fx-pref-width: 22.0;
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-background-size: 16;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/images/setting.svg");
}

/*******************************************************************************
 *                                                                             *
 *grr  view data page css                                                      *
 *                                                                             *
 ******************************************************************************/
.grr-view-data-h-box1{
    -fx-pref-height: 100;
    -fx-pref-width: 200;
    -fx-padding: 3;
    -fx-spacing: 10;
    -fx-alignment: center_right;
}
.grr-view-data-h-box2{
    -fx-pref-height: 100;
    -fx-pref-width: 200;
    -fx-padding: 0 0 0 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}
.grr-view-data-h-box3{
    -fx-padding: 3;
    -fx-alignment: center_right;
}
.grr-view-data-h-box4{
    -fx-padding: 0 0 0 10;
    -fx-alignment: center_left;
}
.grr-choose-item-btn{
    -fx-image: url("/images/choose-test-items.svg");
}
/*******************************************************************************
 *                                                                             *
 *grr  result page css                                                         *
 *                                                                             *
 ******************************************************************************/
.grr-result-based{
    -fx-alignment: center_left;
    -fx-spacing: 10;
    -fx-padding: 3 0 3 10;
}
.grr-result-summaryTb,
.grr-result-summaryTb:focused{
    -fx-pref-height: 200;
    -fx-min-height: 50;
    -fx-border-width: 1 0 0 0;
}
.grr-result-btn-h-box{
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-padding: 8 0 0 0;
    -fx-alignment: center_left;
}
.grr-result-btn-h-box .grr-text-center{
    -fx-opacity: 1;
    -fx-text-alignment: center;
}
.grr-result-data-sheet-h-box{
    -fx-pref-height: 30;
    -fx-spacing: 5;
    -fx-padding:6 0 6 10;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_F8;
}
.grr-result-chart-v-box{
    -fx-pref-height: 235;
    -fx-border-width: 1px;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-result-chart-h-box{
    -fx-pref-height: 30;
    -fx-padding:6 0 6 10;
    -fx-border-width:  0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_F8;
}
.grr-result-border-pane{
    -fx-max-height: 29.0;
    -fx-min-height: 29.0;
    -fx-pref-height: 29.0;
    -fx-padding: 3 0 2 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
}

.grr-result-h-box{
    -fx-max-height: 32;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-padding:6 0 6 10;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_F8;
}
.grr-result-h-box-bottom{
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-alignment: center_left;
    -fx-padding:6 0 6 10;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_F8;
}
.grr-result-btn,
.grr-result-btn:hover,
.grr-result-btn:focused,
.grr-result-btn:pressed,
.grr-result-btn:pressed:hover{
    -fx-max-width: 22;
    -fx-min-width: 22;
    -fx-pref-width: 22;
    -fx-padding: 0;
    -fx-background-color: COLORFUL_PRIMARY_RED;
    -fx-text-fill: COLOR_LIGHT_FF;
    -fx-border-width: 0px;
}

.grr-xBarAppraiserChartBtn{
    -fx-background-size: 16;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/images/choose-lines.svg");
}
.grr-summary-item-tf{
    -fx-pref-width: 200;
}
