#analysisDataTB, #analysisDataTB:focused {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #DCDCDC;
}

#exchangeDataTB, #exchangeDataTB:focused {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #DCDCDC;
}

.mytext_ok {
    -fx-background-color: Red;
}

#viewDataTable {
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.ExpandableTableViewSkin";
}

#viewDataTable .column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#viewDataTable .column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/btn_arrow_down.png');
}

#viewDataTable .column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

#viewDataTable .column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

#viewDataTable .column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

#viewDataTable .column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

#viewDataTable .filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-pref-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/btn_arrow_down.png');
}

.column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

.column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

.column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

.column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

.filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.table-filter-btn {
    -fx-min-height: 21;
    -fx-min-width: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
}

.table-filter-btn:hover {
    -fx-border-color: null;
    -fx-background-color: null;
}

.table-filter-btn:pressed {
    -fx-background-color: null;
}

.table-filter-btn:focused, .btn-icon:focused:hover {
    -fx-border-color: COLOR_GRAY_66;
    -fx-border-style: dotted;
}

.table-view .column-header .label .label {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}

.table-view:focused {
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/*.tab-pane {*/
/*-fx-skin:  "com.dmsoft.firefly.plugin.spc.utils.HTabPaneSkin";*/
/*}*/
/*.tab-pane > .tab-header-area {*/
/*-fx-background-color: #dff0cf;*/
/*-fx-padding: 0;*/
/*!*-fx-pref-height: 100;*!*/
/*}*/

/**
table
**/
.cell .edited {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}

.cell .error .check-box:disabled > .box {
    -fx-border-color: #ea2028;
    -fx-background-color: #fde8e9;
}

.cell .error .check-box:disabled {
    -fx-opacity: 1;
    -fx-cursor: inherit;
}

.cell .error .radio-button > .radio {
    -fx-padding: 0.16em;
    -fx-border-radius: 0.5em;
    -fx-border-color: #ea2028;
    -fx-background-color: #fde8e9;
}

.cell .error .radio-button {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.cell .alarm {
    -fx-text-fill: white;
}

/*
*Spc setting
*/
.alarm-excellent {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #4ebe11;
}

.alarm-good {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #27b5b3;
}

.alarm-acceptable {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #487cf4;
}

.alarm-rectification {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #f38400;
}

.alarm-bad {
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #ea2028;
}

#testItemTable .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.btn-group {
    -fx-border-width: 1px 0px 1px 1px;
}

.btn-group-last {
    -fx-border-width: 1px 1px 1px 1px;
}

.btn-group:hover,
.btn-group:focused,
.btn-group:pressed,
.btn-group:focused:hover,
.btn-group-last:hover,
.btn-group-last:focused,
.btn-group-last:pressed,
.btn-group-last:focused:hover {
    -fx-border-width: 1;
    -fx-border-color: COLORFUL_AUXILIARY_BLUE;
}

/*******************************************************************************
 *                                                                             *
 *grr  page css                                                                *
 *                                                                             *
 ******************************************************************************/
.grr-btn-h-box{
    -fx-alignment: CENTER;
    -fx-spacing: 3;
    -fx-padding: 0 3 0 0;
}
.grr-border-pane{
    -fx-pref-height: 28;
    -fx-max-height: 28;
    -fx-min-height: 28;
    -fx-background-color: COLOR_LIGHT_FF;
    -fx-padding: 0 0 0 10;

}
.grr-border-pane>.label{
    -fx-pref-height: 28;
    -fx-alignment:center;
}
/*******************************************************************************
 *                                                                             *
 *grr export/item page css                                                     *
 *                                                                             *
 ******************************************************************************/
.grr-export-h-box{
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-export-v-box-left{
    -fx-pref-height:200.0 ;
    -fx-pref-width: 100.0;
    -fx-padding:10 0 0 20;
    -fx-border-width: 0 1 0 0;
    -fx-border-color:COLOR_GRAY_DC;
}
.grr-export-location-path{
    -fx-pref-width: 250.0;
    -fx-border-width: 1 0 1 1;
}
.grr-export-split{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-item-tab{
    -fx-pref-width: 180.0;
    -fx-min-width: 180.0;
    -fx-pref-height: 270.0;
    -fx-min-height: 270.0;
    -fx-border-width: 0 0 0 0;
}
.grr-item-table{
    -fx-border-width: 1 0 0 0;
}
.grr-config{
    -fx-padding: 10 10 0 10;
    -fx-min-width: 160.0;
    -fx-pref-width: 160.0;
    -fx-pref-height: 350.0;
}
.grr-import-btn{
    -fx-alignment: center_right;
    -fx-pref-width: 180.0;
    -fx-padding: 0 20 0 0;
}

.grr-item-split{
    -fx-min-width: 180;
    -fx-pref-height: 600;
    -fx-border-width: 0 0 0 0;
}
.grr-item-btn{
    -fx-padding: 0 20;
    -fx-border-color:COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
}
/*******************************************************************************
 *                                                                             *
 *grr setting page css                                                         *
 *                                                                             *
 ******************************************************************************/
.grr-setting-label-white{
    -fx-pref-height: 22.0;
    -fx-pref-width: 160.0;
    -fx-padding: 0 0 0 10;
    -fx-background-color: COLOR_LIGHT_FF;
}
.grr-setting-label{
    -fx-pref-height: 22.0;
    -fx-pref-width: 160.0;
    -fx-padding: 0 0 0 10;
    -fx-background-color: COLOR_GRAY_F0;
}

.grr-setting-label-right{
    -fx-padding:10 0 0 0 ;
    -fx-font-weight: bold;
}

.grr-setting-h-box-lg{
    -fx-pref-height: 450.0;
    -fx-pref-width: 780.0;
    -fx-border-color: COLOR_GRAY_DC;
}
.grr-setting-V-box-left{
    -fx-pref-height: 200.0;
    -fx-pref-width: 160.0;
    -fx-background-color: COLOR_GRAY_F0;
}

.grr-setting-V-box-right{
    -fx-pref-height: 200.0;
    -fx-pref-width: 100.0;
    -fx-padding: 10 0 0 20;
    -fx-spacing: 10;
}
.grr-setting-h-box-right{
    -fx-alignment: center_left;
    -fx-pref-height: 30.0;
    -fx-pref-width: 200.0;
    -fx-spacing: 10.0;
}
.radio-button-h-box{
    -fx-alignment: center_left;
    -fx-spacing: 20.0;
}
.grr-setting-excellent-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_DARK3_GREEN;
    -fx-text-fill: COLOR_LIGHT_FF;
}

.grr-setting-adequate-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_DARK_BLUE;
    -fx-text-fill: COLOR_LIGHT_FF;
}
.grr-setting-bad-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22.0;
    -fx-pref-width: 70.0;
    -fx-background-color: COLORFUL_PRIMARY_RED;
    -fx-text-fill: COLOR_LIGHT_FF;
}