
@import "/css/redfall/main.css";

.region-b {
    -fx-background-color: transparent;
    -fx-border-color: #e9e9e9;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.top-logo {
    -fx-background-image: url('../images/logo_16.png');
}
.window-button-minimize {
    -fx-background-image: url('../images/top_minimize_normal.png');
}

.window-button-maximize {
    -fx-background-image: url('../images/top_full_screen_normal.png');
}

.window-button-close {
    -fx-background-image: url('../images/top_close_normal.png');
}
.window-button-close:hover {
    -fx-background-image: url('../images/top_close_over.png');
}