.list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-pref-height: 22;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: null;
    -fx-border-color: #dcdcdc;
    -fx-padding: 1, 1, 1, 1;
    -fx-translate-y: 3;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background: -fx-control-inner-background;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                  *
 *                                                                             *
 ******************************************************************************/
.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 1;
    -fx-shape: null;
    -fx-background-color: #ea2028;
}

.progress-bar:indeterminate > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ea2028;
}

.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #dcdcdc;
}

.candlestick-tooltip {
    -fx-font-size: 12px;
    -fx-text-fill: #222222;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 1px;
    -fx-border-color: #DDDDDD;
}

#systemProcessBar {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-image: url('/images/Initialize_bg.png');
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
