.list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-pref-height: 22;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: null;
    -fx-border-color: #dcdcdc;
    -fx-padding: 1, 1, 1, 1;
    -fx-translate-y: 3;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background: -fx-control-inner-background;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                  *
 *                                                                             *
 ******************************************************************************/
.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 1;
    -fx-shape: null;
    -fx-background-color: #ea2028;
}

.progress-bar:indeterminate > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ea2028;
}

.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #dcdcdc;
}

.candlestick-tooltip {
    -fx-font-size: 12px;
    -fx-text-fill: #222222;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 1px;
    -fx-border-color: #DDDDDD;
}

.table-text-field {
    -fx-text-fill: #222222 !important;
}





/*******************************************************************************
 *                                                                             *
 * gui about page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-about-root{
    -fx-pref-height: 162.0;
    -fx-padding: 18.0 40.0;
    -fx-spacing: 40.0;
}

.gui-about-spacing{
    -fx-spacing: 10.0;
}
.gui-about-logo{
    -fx-image: url("/images/Initialize_logo.png");
}

/*******************************************************************************
 *                                                                             *
 * gui additem page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-additem-h-box-first{
    -fx-padding: 0 10.0 0 10.0;
    -fx-pref-height: 30.0;
    -fx-alignment: center-left;
}

.gui-additem-h-box-first > .button{
    -fx-min-width: 22.0;
    -fx-pref-width: 22.0;
    -fx-background-color: COLORFUL_AUXILIARY_BLUE;
}

.gui-additem-h-box-second{
    -fx-spacing: 10.0;
    -fx-padding: 0 10.0 0 10.0;
    -fx-pref-height: 255.0;
}

.gui-additem-h-box-second-vbox{
    -fx-alignment: center;
    -fx-spacing: 5.0;
    -fx-padding: 5.0 0 0 0;
    -fx-pref-height: 200.0;
    -fx-pref-width: 190.0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.gui-additem-h-box-third{
    -fx-padding: 10.0;
    -fx-alignment: center_right;
}

.gui-additem-h-box-second-table {
    -fx-pref-height: 200.0;
    -fx-pref-width: 200.0;
}

/*******************************************************************************
 *                                                                             *
 * login page css                                                              *
 *                                                                             *
 ******************************************************************************/
#loginPane{
    -fx-alignment: center;
    -fx-spacing: 20.0;
}
#userNameTxt,#passwordField{
    -fx-max-width: 230.0;
    -fx-border-width: 1.0;
}
#loginPane > .button{
    -fx-pref-height: 26.0;
    -fx-pref-width: 230.0;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
#loginingImageView{
    -fx-image: url("/images/small_loading.gif");
    -fx-content-display: null;
}
#loginFailLbl{
    -fx-border-width: 1 0;
    -fx-border-color: COLOR_GRAY_DC;
}
.gui-login-logo{
    -fx-image: url("/images/login_logo.png");
}

/*******************************************************************************
 *                                                                             *
 * datasource page css                                                              *
 *                                                                             *
 ******************************************************************************/



.delete-button{
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/del.svg");
}

.errorInfo-label{
    -fx-pref-height: 22.0;
    -fx-pref-width: 24.0;
    -fx-background-color: COLORFUL_DARK_ORANGE;
}

.gui-datasource-table-check-box-column{
    -fx-pref-width: 33.0;
    -fx-max-width: 33.0;
    -fx-min-width: 33.0;

}
.gui-datasource-table-value-column{
    -fx-pref-width: 545.0;
    -fx-max-width: 545.0;
    -fx-min-width: 545.0;

}

.gui-datasource-progressBar{
    -fx-pref-width: 70.0;
    -fx-max-width: 70.0;
    -fx-min-width: 70.0;
    -fx-pref-height: 3.0;
    -fx-max-height: 3.0;
    -fx-min-height: 3.0;
}
.gui-datasource-column-btn{
    -fx-padding: 0 4 0 4;
    -fx-border-insets: -3 0 0 0;
    -fx-background-insets: -3 0 0 0
}
.gui-datasource-text-filed{
    -fx-border-width: 0 0 0 0;
    -fx-pref-width: 400.0;
}
.gui-datasource-table-h-box{
    -fx-background-insets: -1 0 0 0;
    -fx-border-insets: -1 0 0 0;
    -fx-spacing:5;
    -fx-alignment: center;

}

/*******************************************************************************
 *                                                                             *
 * gui about page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-about-root{
    -fx-max-height: 158.0;
    -fx-min-height: 158.0;
    -fx-pref-height: 158.0;
    -fx-padding: 18.0 50.0;
    -fx-spacing: 40.0;
    -fx-background-color: transparent;
}

.gui-about-logo{

    -fx-image: url("/images/Initialize_logo.png");
}
.gui-about-v-box{
    -fx-max-height: 90.0;
    -fx-spacing: 10.0
}

.gui-about-info-h-box{
    -fx-spacing: 5.0;
}

.gui-about-text-color{
    -fx-text-fill: #aaaaaa;
}

.gui-about-version-font{
    -fx-font-family: Arial;
    -fx-font-size: 12.0;
}

.gui-about-system-title{
    -fx-font-family: Arial;
    -fx-font-size: 28.0;
}

.gui-about-system-name{
    -fx-font-family: Arial;
    -fx-font-size: 22.0;
}

/*******************************************************************************
 *                                                                             *
 * gui about page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-about-root{
    -fx-max-height: 158.0;
    -fx-min-height: 158.0;
    -fx-pref-height: 158.0;
    -fx-padding: 18.0 50.0;
    -fx-spacing: 40.0;
    -fx-background-color: transparent;
}

.gui-about-logo{

    -fx-image: url("/images/Initialize_logo.png");
}
.gui-about-v-box{
    -fx-max-height: 90.0;
    -fx-spacing: 10.0;
}

.gui-about-info-h-box{
    -fx-spacing: 5.0;
}

.gui-about-text-color{
    -fx-text-fill: #aaaaaa;
}

.gui-about-version-font{
    -fx-font-family: Arial;
    -fx-font-size: 12.0;
}

.gui-about-system-title{
    -fx-font-family: Arial;
    -fx-font-size: 28.0;
}

.gui-about-system-name{
    -fx-font-family: Arial;
    -fx-font-size: 22.0;
}

/*******************************************************************************
 *                                                                              *
 * gui about Change Password page css                                           *
 *                                                                              *
 *******************************************************************************/
.gui-chang-password-root{
    -fx-max-height: 160;
    -fx-min-height: 160;
    -fx-pref-height: 160;
    -fx-max-width: 330;
    -fx-min-width: 330;
    -fx-pref-width: 330;
    -fx-padding: 18.0 0;
}
.gui-chang-password-v-box-left{
    -fx-max-height: 160;
    -fx-min-height: 160;
    -fx-pref-height: 160;
    -fx-max-width: 165;
    -fx-min-width: 165;
    -fx-pref-width: 165;
    -fx-padding: 18.0 0 18 20;
    -fx-spacing: 10;
}
.gui-chang-password-v-box-right{
    -fx-max-height: 170;
    -fx-min-height: 170;
    -fx-pref-height: 170;
    -fx-max-width: 165;
    -fx-min-width: 165;
    -fx-pref-width: 165;
    -fx-padding: 20.0 20.0 20 0;
    -fx-spacing: 10.0;
}
.gui-change-password-label1{
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-padding:4 0 4 40;
}
.gui-change-password-label2{
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-padding:4 0 4 35;
}
.gui-change-password-label3{
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-padding:4 0 4 20;
}

.gui-change-password-back-root{
    -fx-max-height: 192;
    -fx-min-height: 192;
    -fx-pref-height: 192;
    -fx-max-width: 330;
    -fx-min-width: 330;
    -fx-pref-width: 330;
    -fx-padding: 0 0 10 30;
    -fx-alignment: center;

}
.gui-change-password-back-iconlb{
}

.gui-change-password-back-label{
    -fx-pref-height: 50.0;
    -fx-pref-width: 262.0;
    -fx-alignment: LEFT;
    -fx-padding: 30 0 0 0;
}

.gui-change-password-back-link{
    -fx-pref-height: 20.0;
    -fx-pref-width: 262.0;
    -fx-alignment: LEFT;
}

.gui-change-password-back-btn{
    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-width: 80;
    -fx-min-width: 80;
    -fx-pref-width: 80;
}
.gui-change-password-back-btn-h-box{
    -fx-max-height:80;
    -fx-min-height: 80;
    -fx-pref-height: 80;
    -fx-padding:80 0 0 0;

}

/*******************************************************************************
 *                                                                             *
 * Initialize page css                                                              *
 *                                                                             *
 ******************************************************************************/

.initialize-login-label-sm{
    -fx-text-fill: COLOR_BLACK_22;
    -fx-font-family: Arial;
    -fx-font-size: 12.0;
}
.initialize-login-label-lg {
    -fx-text-fill: COLORFUL_PRIMARY_RED;
    -fx-font-weight: bold;
    -fx-font: 28 arial;
}
.initialize-r-h-box{
    -fx-alignment:CENTER_RIGHT;
    -fx-pref-width: 340;
    -fx-pref-height: 30;
    -fx-padding: 0 10 0 0;
}
.initialize-h-box{
    -fx-padding: 30 0 10 0;
    -fx-pref-width: 520;
    -fx-max-width: 520;
    -fx-min-width: 520;
    -fx-pref-height: 170;
}

.initialize-image{
    -fx-padding: 10 40 30 40;
}

#imageViewLogo{
    -fx-image: url("/images/Initialize_logo.png");
}
#systemProcessBar {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-image: url('/images/Initialize_bg.png');
    -fx-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


/*******************************************************************************
 *                                                                             *
 * datasource setting page css                                                 *
 *                                                                             *
 ******************************************************************************/
.choose-button{
    -fx-min-height: 22;
    -fx-min-width: 22;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
    -fx-border-width: 1;
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/choose-test-items.svg");
}

.search-button{
    -fx-min-height: 22;
    -fx-min-width: 22;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
    -fx-border-width: 1;
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/check-white.svg");
}

.datasource-setting-label{
    -fx-min-height: 12.0;
    -fx-min-width: 12.0;
    -fx-max-height: 12.0;
    -fx-max-width: 12.0;
    -fx-pref-height: 12.0;
    -fx-pref-width: 12.0;
    -fx-background-color: red;
}
.datasource-setting-v-box{
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 0 1 0 0;
}
.datasource-setting-split-pane{
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
    -fx-pref-height: 435;
}

.datasource-setting-pane{
    -fx-border-color: COLOR_GRAY_DC;
}

.datasource-setting-h-box-top{
    -fx-pref-width: 619.0;
    -fx-pref-height: 30.0;
    -fx-min-height: 30.0;
    -fx-alignment: center;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-padding:0 5 0 10;
}

/*******************************************************************************
 *                                                                             *
 * plugin page css                                                             *
 *                                                                             *
 ******************************************************************************/
#explain{
    -fx-padding: 10.0;
    -fx-pref-width: 200;
    -fx-border-width: 1 1 1 0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_FA;
}
/*******************************************************************************
 *                                                                             *
 * template page css                                                             *
 *                                                                             *
 ******************************************************************************/
.template-lg-h-box{
     -fx-pref-height: 488.0;
     -fx-max-height: 488.0;
     -fx-min-height: 488.0;
     -fx-pref-width: 800.0;
     -fx-border-color: COLOR_GRAY_DC;
     -fx-border-width: 1 1 1 1;
 }
.template-left-v-box{
    -fx-pref-height: 485.0;
    -fx-pref-width: 160.0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 0 1 0 0;
}

.template-name-filter{
    -fx-padding:3 3 0 3;
}

#templateName{
    -fx-pref-height: 463.0;
    -fx-pref-width: 160.0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
}
.template-h-box-btn{
    -fx-alignment: center;
    -fx-pref-height: 21.0;
    -fx-min-height: 21.0;
    -fx-max-height: 21.0;
    -fx-pref-width: 160.0;
    -fx-padding:0 16 0 16;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
}

.template-title-h-box{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-padding:0 20 0 20;
}
#title{
    -fx-pref-height: 28.0;
    -fx-min-height: 28.0;
    -fx-pref-width: 620.0;
    -fx-font-weight: bold;
}
.template-right-v-box{
    -fx-padding:0 20 10 20;
}

.add-time-h-box{
    -fx-alignment: BOTTOM_LEFT;
    -fx-padding:0 0 10 0;
}
.template-item-filter{
    -fx-alignment: CENTER_RIGHT;
    -fx-pref-height: 29;
    -fx-pref-width: 200;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-border-width: 1 1 0 1;
    -fx-padding: 3 10 3 3;
    -fx-spacing: 13;
}





/*******************************************************************************
 *                                                                             *
 * gui about page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-about-root{
    -fx-max-height: 158.0;
    -fx-min-height: 158.0;
    -fx-pref-height: 158.0;
    -fx-padding: 18.0 50.0;
    -fx-spacing: 40.0;
    -fx-background-color: transparent;
}

.gui-about-logo{

    -fx-image: url("/images/Initialize_logo.png");
}
.gui-about-v-box{
    -fx-max-height: 90.0;
    -fx-spacing: 10.0
}

.gui-about-info-h-box{
    -fx-spacing: 5.0;
}

.gui-about-text-color{
    -fx-text-fill: #aaaaaa;
}

.gui-about-version-font{
    -fx-font-family: Arial;
    -fx-font-size: 12.0;
}

.gui-about-system-title{
    -fx-font-family: Arial;
    -fx-font-size: 28.0;
}

.gui-about-system-name{
    -fx-font-family: Arial;
    -fx-font-size: 22.0;
}

.gui-additem-root{
    -fx-alignment: center-right;
    -fx-max-height: -Infinity;
    -fx-max-width: -Infinity;
    -fx-min-height: -Infinity;
    -fx-min-width: -Infinity;
    -fx-pref-height: 330.0;
    -fx-pref-width: 410.0;
}

.gui-additem-label-choose{
    -fx-pref-height: 30.0;
    -fx-pref-width: 190.0;
}

.gui-additem-label-customize{
    -fx-padding: 0 0 0 10.0;
    -fx-pref-height: 30.0;
    -fx-pref-width: 170.0;
}

.gui-additem-h-box-first{
    -fx-padding: 0 10.0 0 10.0;
    -fx-alignment: center-left;
    -fx-pref-height: 30.0;
    -fx-pref-width: 200.0;
}

.gui-additem-h-box-button{
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-pref-width: 22.0;
}

.gui-additem-h-box-second{
    -fx-spacing: 10.0;
    -fx-padding: 0 10.0 0 10.0;
    -fx-pref-height: 255.0;
    -fx-pref-width: 410.0;
    -fx-border-width: 0 0 0 0;
}

.gui-additem-h-box-second-vbox{
    -fx-alignment: center;
    -fx-spacing: 5.0;
    -fx-padding: 5.0 0 0 0;
    -fx-pref-height: 200.0;
    -fx-pref-width: 190.0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #DCDCDC;
}

.gui-additem-h-box-second-textfiled{
    -fx-max-width: 180.0;
}

.gui-additem-h-box-second-table{
    -fx-pref-height: 200.0;
    -fx-pref-width: 200.0;
}

.gui-additem-h-box-second-columns-first{
    -fx-max-width: 30.0;
    -fx-min-width: 30.0;
    -fx-pref-width: 30.0;
}

.gui-additem-h-box-second-columns-second{
    -fx-pref-width: 75.0;
}

.gui-additem-h-box-text-area{
    -fx-pref-height: 200.0;
    -fx-pref-width: 190.0;
}

.gui-additem-h-box-third{
    -fx-padding: 10.0;
    -fx-alignment: center_right;
}

.gui-additem-button{
    -fx-pref-width: 80.0;
}

/*******************************************************************************
 *                                                                             *
 * gui about page css                                                              *
 *                                                                             *
 ******************************************************************************/

.gui-about-root{
    -fx-max-height: 158.0;
    -fx-min-height: 158.0;
    -fx-pref-height: 158.0;
    -fx-padding: 18.0 50.0;
    -fx-spacing: 40.0;
    -fx-background-color: transparent;
}

.gui-about-logo{

    -fx-image: url("/images/Initialize_logo.png");
}
.gui-about-v-box{
    -fx-max-height: 90.0;
    -fx-spacing: 10.0;
}

.gui-about-info-h-box{
    -fx-spacing: 5.0;
}

.gui-about-text-color{
    -fx-text-fill: #aaaaaa;
}

.gui-about-version-font{
    -fx-font-family: Arial;
    -fx-font-size: 12.0;
}

.gui-about-system-title{
    -fx-font-family: Arial;
    -fx-font-size: 28.0;
}

.gui-about-system-name{
    -fx-font-family: Arial;
    -fx-font-size: 22.0;
}

/*******************************************************************************
 *                                                                              *
 * gui about Change Password page css                                           *
 *                                                                              *
 *******************************************************************************/
.gui-chang-password-root{
    -fx-max-height: 160;
    -fx-min-height: 160;
    -fx-pref-height: 160;
    -fx-max-width: 330;
    -fx-min-width: 330;
    -fx-pref-width: 330;
    -fx-padding: 18.0 0;
}
.gui-chang-password-v-box-left{
     -fx-max-height: 160;
     -fx-min-height: 160;
     -fx-pref-height: 160;
     -fx-max-width: 165;
     -fx-min-width: 165;
     -fx-pref-width: 165;
     -fx-padding: 18.0 0 18 20;
     -fx-spacing: 10;
 }
.gui-chang-password-v-box-right{
    -fx-max-height: 170;
    -fx-min-height: 170;
    -fx-pref-height: 170;
    -fx-max-width: 165;
    -fx-min-width: 165;
    -fx-pref-width: 165;
    -fx-padding: 20.0 20.0 20 0;
    -fx-spacing: 10.0;
}
.gui-change-password-label1{
     -fx-max-width: 120;
     -fx-min-width: 120;
     -fx-pref-width: 120;
     -fx-padding:4 0 4 40;
 }
.gui-change-password-label2{
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-padding:4 0 4 35;
}
.gui-change-password-label3{
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-padding:4 0 4 20;
}

.gui-change-password-back-root{
    -fx-max-height: 192;
    -fx-min-height: 192;
    -fx-pref-height: 192;
    -fx-max-width: 330;
    -fx-min-width: 330;
    -fx-pref-width: 330;
    -fx-padding: 0 0 10 30;
    -fx-alignment: center;

}
.gui-change-password-back-iconlb{
}

.gui-change-password-back-label{
    -fx-pref-height: 50.0;
    -fx-pref-width: 262.0;
    -fx-alignment: LEFT;
    -fx-padding: 30 0 0 0;
}

.gui-change-password-back-link{
    -fx-pref-height: 20.0;
    -fx-pref-width: 262.0;
    -fx-alignment: LEFT;
}

.gui-change-password-back-btn{
    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-width: 80;
    -fx-min-width: 80;
    -fx-pref-width: 80;
}
.gui-change-password-back-btn-h-box{
    -fx-max-height:80;
    -fx-min-height: 80;
    -fx-pref-height: 80;
    -fx-padding:80 0 0 0;

}

