.root {
  -fx-font: 12 arial;
  -fx-text-fill: #222222;
  -fx-background-color: #ffffff;

  /*主题颜色*/
  COLORFUL_PRIMARY_RED: #ea2028;
  COLORFUL_PRIMARY_RED_LIGHT: #ff5960;
  COLORFUL_PRIMARY_RED_MID: #c71b22;
  COLORFUL_PRIMARY_RED_DARK: #bb1a20;

  /*辅助颜色*/
  COLORFUL_AUXILIARY_BLUE: #0096ff;
  COLORFUL_LIGHT_BLUE: #33abff;
  COLORFUL_DARK_BLUE: #487CF4;


  COLOR_BLACK_22: #222222;
  COLOR_LIGHT_FF: #ffffff;

  COLOR_GRAY_66: #666666;
  COLOR_GRAY_AA: #aaaaaa;
  COLOR_GRAY_BB: #bbbbbb;
  COLOR_GRAY_CC: #cccccc;
  COLOR_GRAY_DC: #dcdcdc;
  COLOR_GRAY_ED: #ededed;
  COLOR_GRAY_F0: #f0f0f0;
  COLOR_GRAY_F5: #f5f5f5;
  COLOR_GRAY_F8: #f8f8f8;
  COLOR_GRAY_FA: #fafafa;

  COLOR_GRAY_E9: #e9e9e9;
  COLOR_GRAY_D0: #d0d0d0;

  COLOR_BLACK_Fill_5: rgba(0, 0, 0, 0.05);
  COLOR_BLACK_Fill_10: rgba(0, 0, 0, 0.1);
  COLOR_BLACK_Fill_15: rgba(0, 0, 0, 0.15);
  COLOR_BLACK_Fill_20: rgba(0, 0, 0, 0.2);


  COLORFUL_LIGHT_RED: #fde8e9;
  COLORFUL_MIDDLE_RED: #fac8ca;
  COLORFUL_DARK_RED: #F48F93;



  COLORFUL_BLUE_Fill_10: rgba(0, 150, 255, 0.2);
  COLORFUL_BLUE_Fill_20: rgba(0, 150, 255, 0.2);
  COLORFUL_BLUE_Fill_50: rgba(0, 150, 255, 0.5);

  COLORFUL_LIGHT_ORANGE: #ffd57f;
  COLORFUL_MIDDLE_ORANGE: #ffab00;
  COLORFUL_DARK_ORANGE: #F38400;

  COLORFUL_LIGHT_YELLOW: #fff7d0;
  COLORFUL_MIDDLE_YELLOW: #fee465;
  COLORFUL_DARK_YELLOW: #f8d251;

  COLORFUL_LIGHT_GREEN: #dff0cf;
  COLORFUL_MIDDLE_GREEN: #aeda88;
  COLORFUL_DARK_GREEN: #5EB511;

  COLORFUL_LIGHT1_GREEN: #7ec441;
  COLORFUL_DARK1_GREEN: #509A0E;
  COLORFUL_DARK2_GREEN: #4B910E;

  COLORFUL_DARK_CYAN: #27b5b3;

  COLORFUL_CHECKBOX_BORDER: #33abff;

  COMBOBOX_ERROR_BG_HOVER: #fef4f4;
  COMBOBOX_ERROR_BG: #fde8e9;
  COMBOBOX_ERROR_BG_PRESSED_HOVER: #fbd2d4;
  COMBOBOX_ERROR_BG_PRESSED: #f8b1b4;

  FONT_DARK: COLOR_BLACK_22;
  FONT_LIGHT: COLOR_LIGHT_FF;
  FONT_MID: COLOR_GRAY_CC;
}




/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
  -fx-pref-height: 22;
  -fx-min-width: 70;
  -fx-padding:0 10;
  -fx-background-radius: 0;
  -fx-text-alignment: center;
  -fx-opacity:1;
  -fx-border-color: COLOR_GRAY_CC;
  -fx-background-color: COLOR_GRAY_F5;
  -fx-cursor: hand;
}

.button:hover{
  -fx-background-color: COLOR_LIGHT_FF;
}

.button:pressed{
  -fx-background-color: COLOR_GRAY_DC;
}

.button:disabled{
  -fx-background-color:COLOR_GRAY_FA;
  -fx-border-color:COLOR_GRAY_DC;
  -fx-text-fill:COLOR_GRAY_CC
}



.btn-primary {
  -fx-border-width: 0;
  -fx-text-fill: COLOR_LIGHT_FF;
  -fx-background-color: COLORFUL_PRIMARY_RED;
}

.btn-primary:hover {
  -fx-background-color: COLORFUL_PRIMARY_RED_LIGHT;
}

.btn-primary:pressed {
  -fx-background-color: COLORFUL_PRIMARY_RED_DARK;
}

.btn-primary:disabled {
  -fx-border-width: 1;
}


/*******************************************************************************
 *                                                                             *
 * Checkbox                                                                  *
 *                                                                             *
 ******************************************************************************/

.check-box{
  -fx-cursor: hand;
}

.check-box> .box{
  -fx-pref-height: 12;
  -fx-pref-width: 12;
  -fx-padding: 0;
  -fx-border-color: COLOR_GRAY_BB;
  -fx-background-color: COLOR_LIGHT_FF;
}

.check-box > .box > .mark {
  -fx-padding: 5;
  -fx-scale-shape: false;
  -fx-shape: "M 0 -3 L 1 -3 L 1 -2 L 2 -2 L 2 -1 L 3 -1 L 3 0 L 4 0 L 4 -1 L 5 -1 L 5 -2 L 6 -2 L 6 -3 L 7 -3 L 7 -4 L 8 -4 L 8 -6 L 7 -6 L 7 -5 L 6 -5 L 6 -4 L 5 -4 L 5 -3 L 4 -3 L 4 -2 L 3 -2 L 3 -3 L 2 -3 L 2 -4 L 0 -4 Z";
}

.check-box:hover> .box{
  -fx-border-color: COLORFUL_CHECKBOX_BORDER;
}

.check-box:disabled> .box{
  -fx-border-color: COLOR_GRAY_DC;
  -fx-background-color: COLOR_GRAY_FA;
}


/*******************************************************************************
 *                                                                             *
 * Radio-Button                                                                *
 *                                                                             *
 ******************************************************************************/
.radio-button {
  -fx-cursor: hand;
}

.radio-button > .radio {
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-border-width: 1;
  -fx-padding: 2;
  -fx-border-color: COLOR_GRAY_BB;
  -fx-background-color: COLOR_LIGHT_FF;
}

.radio-button > .radio > .dot {
  -fx-padding: 0.25em;
}


.radio-button:hover > .radio{
  -fx-border-color: COLORFUL_CHECKBOX_BORDER;
}

.radio-button:selected > .radio:selected > .dot {
  -fx-padding: 0.25em;
  -fx-background-color: COLOR_GRAY_66;
}
