.mytext_ok {
    -fx-background-color: Red;
}

#viewDataTable,
#overViewResultTb {
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.ExpandableTableViewSkin";
}

#viewDataTable .column-header.filter-header .button,
#overViewResultTb .column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#viewDataTable .column-header.filter-header:hover .filter-normal,
#overViewResultTb .column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

#viewDataTable .column-header.filter-header .filter-active,
#overViewResultTb .column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

#viewDataTable .column-header.filter-header:hover .button,
#overViewResultTb .column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

#viewDataTable .column-header.filter-header:hover .button:hover,
#overViewResultTb .column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

#viewDataTable .column-header.filter-header .button:armed,
#overViewResultTb .column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

#viewDataTable .filter-header .label,
#overViewResultTb .filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-pref-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

.column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

.column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

.column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

.column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

.filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.table-filter-btn {
    -fx-min-height: 21;
    -fx-min-width: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
}

.table-filter-btn:hover {
    -fx-border-color: null;
    -fx-background-color: null;
}

.table-filter-btn:pressed {
    -fx-background-color: null;
}

.table-filter-btn:focused, .btn-icon:focused:hover {
    -fx-border-color: COLOR_GRAY_66;
    -fx-border-style: dotted;
}

.table-view .column-header .label .label {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}

/**
table
**/
.cell .edited {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}

/*
*Spc setting
*/
.alarm-excellent {
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #4ebe11;
}

.alarm-good {
    -fx-alignment: center;
    -fx-pref-width: 60;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #27b5b3;
}

.alarm-acceptable {
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #487cf4;
}

.alarm-rectification {
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #f38400;
}

.alarm-bad {
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-pref-height: 22;
    -fx-text-fill: white;
    -fx-background-color: #ea2028;
}

#customAlarmTable .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.btn-timer {
    -fx-text-fill: COLOR_LIGHT_FF;
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
    -fx-border-insets: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-timer:hover {
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
}

.btn-timer:pressed {
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
}

.btn-timer:focused {
    -fx-border-color: COLOR_LIGHT_FF;
    -fx-border-style: dotted;
    -fx-border-insets: 1;
}

.btn-timer:focused:hover {
    -fx-border-color: COLOR_LIGHT_FF;
    -fx-border-style: dotted;
    -fx-border-insets: 1;
}

.default-color0.chart-bar {
    -fx-bar-fill: #7DAE14;
}

.default-color1.chart-bar {
    -fx-bar-fill: #487CF4;
}

.default-color2.chart-bar {
    -fx-bar-fill: #F38400;
}

.default-color3.chart-bar {
    -fx-bar-fill: RED;
}


/*****************************************************************

add all charts.css into yield_app.css

******************************************************************/

.table-no-header .column-header-background {
    -fx-max-height: 0px;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
}

.chart {
    -fx-font-family: Tahoma;
    -fx-font-size: 0.9em;
    -fx-padding: 10 10 10 10;
}

/*.chart-content {*/
/*-fx-padding: 0 10px 10px 10px;*/
/*}*/

.chart-vertical-grid-lines {
    -fx-stroke-width: 1px;
}

/*.chart-horizontal-grid-lines {*/
/*-fx-stroke-width: 0px;*/
/*-fx-stroke: transparent;*/
/*}*/

/*chart style*/
.chart-plot-background {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc #dcdcdc transparent transparent;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-font-family: Tahoma;
    -fx-tick-length: 5;
    -fx-minor-tick-length: 0;
}

.axis:bottom {
    -fx-border-color: #dcdcdc transparent transparent transparent;
}

.axis:left {
    -fx-border-color: transparent #dcdcdc transparent transparent;
}

.axis-label {
    -fx-text-fill: #462300;
}

/*line*/
.line {
    -fx-cursor: hand;
    -fx-stroke: #6fc1be;
}

.line:hover {
    -fx-stroke-width: 2px;
}

.dashed-line {
    -fx-stroke-dash-array: 4px;
}

.dashed-line:hover {
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px;
}

.solid-line {

}

.solid-line:hover {
    -fx-stroke-width: 2px;
}

.hidden-line {
    -fx-stroke-width: 0px;
}
/*Bar Chart*/
.chart-bar {
    -fx-cursor: hand;
    -fx-stroke-width: 1px;
}

.chart-bar:hover {
    -fx-border-width: 1 1 0 1;
    /*-fx-border-color: #e92822;*/
}

.chart-hidden-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-stroke-width: 0px;
}

/* ====== CANDLE STICK CHART =========================================================== */
.candlestick-tooltip {
    -fx-font-size: 12px;
    -fx-text-fill: #222222;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5 10 5 10;
    -fx-border-width: 1px;
    -fx-border-color: #DDDDDD;
}

.candlestick-tooltip-box {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-pref-width: 80px;
}

.candlestick-series {
    -fx-opacity: 0.7;
}

.candlestick-tooltip-box > .label {
    -fx-padding: 0 0 10 0;
}

.candlestick-bar {
    -fx-cursor: hand;
}

.list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-pref-height: 22;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: null;
    -fx-border-color: #dcdcdc;
    -fx-padding: 1, 1, 1, 1;
    -fx-translate-y: 3;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background: -fx-control-inner-background;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
    -fx-background-insets: 0, 1, 2;
}

.menu-button {
    -fx-min-width: 20px;
    -fx-max-width: 20px;
    -fx-pref-width: 20px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.menu-icon {
}

.menu-icon > .container > .menu-button {
    -fx-padding: 0em 0em 0em -0.63em;
}

.legend {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.chart-legend-tooltip {
    -fx-text-fill: rgb(34, 34, 34);
    -fx-font-size: 12px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.chart-legend-tooltip .chart-legend-item {
    -fx-text-fill: rgb(34, 34, 34);
}

.vertical-text {
    -fx-background-color: #f0f0f0;
}

.vertical-text .tab-header-area .tab {
    -fx-pref-height: 100px;
    -fx-pref-width: 22px;
}

.vertical-text .tab-header-area .tab .tab-graphic-label {
    -fx-pref-height: 22px;
    -fx-pref-width: 100px;
    -fx-rotate: 90;
}

.vertical-text > .tab-header-area > .headers-region > .tab {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #e7e7e7;
    -fx-alignment: center-left;
}

.vertical-text > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-color: #e7e7e7;
    -fx-background-color: white;
}

.vertical-text > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: white;
}

.vertical-text > .tab-header-area > .headers-region > .tab:pressed {
    -fx-border-color: white;
    -fx-background-color: white;
}

.vertical-text > .tab-header-area > .headers-region > .tab:focused {
    -fx-border-color: #e7e7e7;
    -fx-border-style: solid;
}

.vertical-text > .tab-header-area > .headers-region > .tab:focused:hover {
    -fx-border-color: #f0f0f0;
    -fx-border-style: solid;
}

/*.vertical-text > .tab-header-area > .headers-region > .tab .tab-label {*/
/*-fx-background-color: red;*/
/*}*/


/******************************************************************************
*             yield-item.fxml                                                  *
*           yield-split-pane                                                   *
*                                                                              *
 ******************************************************************************/


/*orientation="VERTICAL" prefHeight="600.0" style="-fx-border-width: 0 0 0 0;"*/


.yield-split-pane{
    -fx-pref-height: 600.0;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: red;
    -fx-orientation: vertical;
}
/*minHeight="270.0" minWidth="180.0" prefHeight="270.0" prefWidth="180.0" style="-fx-border-width: 0 0 0 0;"*/
.yield-right-tab-pane{
    -fx-min-height: 270.0;
    -fx-pref-height: 270.0;
    -fx-min-width: 180.0;
    -fx-pref-width: 180.0;
    -fx-border-width: 0;
}
/*minHeight="250.0" minWidth="180.0" prefHeight="250.0" prefWidth="180.0"*/
.yield-right-border-pane{
    -fx-min-height: 250.0;
    -fx-pref-height: 250.0;
    -fx-min-width: 180.0;
    -fx-pref-width: 180.0;
    -fx-border-width: 0 0 0 0;
}
.yield-item-tab{
    -fx-pref-width: 45;
    -fx-padding: 0 5 0 5;
}
/*minHeight="200.0" minWidth="180.0" prefHeight="200.0" prefWidth="180.0" style="-fx-border-width: 1 0 0 0;" BorderPane.alignment="CENTER"*/
.yield-right-table-view{
    -fx-min-height: 200.0;
    -fx-pref-height: 200.0;
    -fx-min-width: 180.0;
    -fx-pref-width: 180.0;
    -fx-border-width: 1 0 1 0;
}
/*maxWidth="32.0" minWidth="32.0" prefWidth="32.0" sortType="DESCENDING" sortable="false"*/
.yield-table-column-select{
    -fx-max-width: 32.0;
    -fx-min-width: 32.0;
    -fx-pref-width: 32.0;
}
/*maxWidth="1.7976931348623157E308" minWidth="148.0" prefWidth="148.0"*/
.yield-table-column-item{
    -fx-max-width:1.7976931348623157E308 ;
    -fx-min-width: 148.0;
    -fx-pref-width: 148.0;
}
.yield-text-field-filter{
    -fx-max-width: 20000.0;
    -fx-border-color: red;
    -fx-border-width: 1;
}
.yield-tab-config-tab{
    -fx-pref-width: 45;
    -fx-padding: 0 5 0 5;
}
.yield-config-tab-border-pane{
    /*minHeight="0.0" minWidth="0.0" prefHeight="180.0" prefWidth="200.0";*/
    -fx-min-height: 0.0;
    -fx-min-width: 0.0;
    -fx-pref-height: 180.0;
    -fx-pref-width: 200.0;
}
.yield-label-text{
    -fx-text-fill: #EA2028;
}
.yield-config-combo-box{
    /*prefHeight="23.0" prefWidth="160.0";*/
    -fx-pref-height: 23.0;
    -fx-pref-width: 160.0;
}
.yield-grid-pane-bottom{
    -fx-background-color: #ffffff;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #DCDCDC;
}
.yield-item-btn-h-box{
    -fx-min-width: 100.0;
    -fx-padding: 1 0 1 20;
}

.yield-item-btn-h-box2{
    -fx-min-width: 80.0;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 1 20 1 0;
}
/*alignment="CENTER" contentDisplay="CENTER" maxHeight="20.0" maxWidth="30.0" minHeight="20.0" minWidth="30.0" mnemonicParsing="false" prefHeight="20.0" prefWidth="30.0"*/
.export-btn{
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-max-height: 22.0;
    -fx-min-height: 22.0;
    -fx-pref-height: 22.0;
    -fx-max-width: 30.0;
    -fx-min-width: 30.0;
    -fx-pref-width: 30.0;
    -fx-text-fill: Button;
}
.yield-item-v-box{
    -fx-padding: 0 10 0 10;
}
.yield-item-h-box{
    -fx-min-width: 32.0;
    -fx-alignment: CENTER_LEFT;
}
/******************************************************************************
*                                                                              *
*                           yield.fxml  所有的css                               *
*                                                                              *
 ******************************************************************************/
.yield-h-box{
    -fx-max-height: 28.0;
    -fx-min-height: 28.0;
    -fx-pref-height: 28.0;
    -fx-alignment:CENTER_LEFT ;
    -fx-background-color: #ffffff;
    -fx-padding: 3 3 3 10 ;
    -fx-spacing:5;
}
.yield-print-btn{
    -fx-min-width: 22.0;
    -fx-max-width: 22.0;
    -fx-max-height: 22.0;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;

}
.yield-export-btn{
    -fx-min-width: 22.0;
    -fx-max-width: 22.0;
    -fx-max-height: 22.0;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
}
.yield-reset-btn{
    -fx-min-width: 22.0;
    -fx-max-width: 22.0;
    -fx-max-height: 22.0;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
}
.yield-choose-btn{
    -fx-min-width: 22.0;
    -fx-max-width: 22.0;
    -fx-max-height: 22.0;
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;

}

.yield-anaylise-label{
    -fx-pref-height: 15.0;
    -fx-pref-width: 174.0;
}
.yield-h-box-btn{
    -fx-alignment:CENTER_RIGHT ;
    -fx-pref-width: 1150.0;
    -fx-padding: 3 3 3 0 ;
    -fx-spacing:5;
}

.yield-split-pane{
    -fx-orientation: VERTICAL;
    -fx-pref-width: 1210.0;
}
.yield-split-pane-v-box{
    -fx-min-width: 180.0;
    -fx-pref-width: 180.0;

}

/******************************************************************************
*                                                                              *
*                           over-view.fxml  所有的css                           *
*                                                                              *
 ******************************************************************************/

.yield-over-view-anchor-pane{
    -fx-min-height: 200.0;
    -fx-min-width: 180.0;
    -fx-background-color: #ffffff;
}
.yield-over-view-tab-pane{
    -fx-background-color: #ffffff;
}
.yield-over-view-h-box{
    -fx-border-width: 0;
    -fx-padding: 3 3 3 0;
    -fx-max-height: 28.0;
    -fx-min-height: 28.0;
    -fx-pref-height: 28.0;
    -fx-alignment:CENTER_RIGHT;
}
.yield-over-view-text-field-filter{
    -fx-max-width: 307.0;
    -fx-min-width: 220.0;
    -fx-pref-height: 28.0;
    -fx-pref-width: 307.0;

}
.yield-view-table-view{
    -fx-border-width:1 0 0 1 ;
}

/******************************************************************************
*                                                                              *
*                           view_data.fxml  所有的css                           *
*                                                                              *
 ******************************************************************************/

.yield-view-data-anchor-pane{
    -fx-min-height: 110.0;
    -fx-min-width: 180.0;
    -fx-background-color: #ffffff;
}
.yield-view-data-tab-pane{
    -fx-border-width: 0 0 0 0;
}

.yield-view-data-h-box{
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-pref-width: 390.0;
}

.yield-view-data-h-box-label{
    -fx-min-width: 10.0;
    -fx-pref-width: 386.0;
    -fx-padding: 3 0 3 0;
}

.yield-view-text-h-box{
    -fx-pref-height: 30.0;
    -fx-min-width: 700.0;
    -fx-pref-width: 880.0;
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing:5;
    -fx-padding: 3 3 3 0
}
.yield-view-data-text-field-filter{
    -fx-max-width: 200.0;
    -fx-pref-height: 24.0;
    -fx-pref-width: 170.0;
}
.yield-view-data-btn{
    /*mnemonicParsing="false"  style="-fx-background-image: url('images/btn_choose_test_items_normal.png'); -fx-background-size: 16; ";*/
    -fx-min-width: 22.0;
    -fx-min-width: 22.0;
    -fx-pref-width: 22.0;
    -fx-max-height: 22.0;
    -fx-min-height: 22.0;
    -fx-pref-height: 22.0;
    -fx-background-image: url('/images/choose-test-items.svg');
    -fx-background-size: 16;

}
.yield-view-data-table-view{
    -fx-border-width: 1 0 0 0;
}

/******************************************************************************
*                                                                              *
*                           yield_result_data.fxml  所有的css                   *
*                                                                              *
 ******************************************************************************/

.yield-result-data-box{
    -fx-pref-height: 200.0;
    -fx-pref-width: 200.0;
    -fx-background-color: #FAFAFA;
}
.yield-result-data-v-box1{
    -fx-pref-width: 150;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 17;
    -fx-padding: 20 60 0 5;

}
.yield-result-data-v-box2{
    -fx-pref-width: 50;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 17;
    -fx-padding: 20 10 0 30;
}
.yield-result-data-label{
    -fx-text-fill: #AAAAAA;
}

/******************************************************************************
*                                                                              *
*                           yield_setting.fxml  所有的css                       *
*                                                                              *
 ******************************************************************************/
.yield-setting-background{
    -fx-background-color: #FFFFFF;
}
.yield-setting-border-clolr{
    -fx-border-color: #DCDCDC;
}
.yield-setting-v-box-background-color{
    -fx-background-color: #f0f0f0;
}
.yield-setting-label{
    -fx-pref-height: 22.0;
    -fx-pref-width: 160.0;
    -fx-padding:  0 0 0 10;
}
.yield-setting-scroll-pane{
    -fx-pref-width: 625.0;
    -fx-pref-height: 450.0;
}
.yield-setting-label-font{
    -fx-font-weight: bold;
}
.yield-setting-H-box{
    -fx-pref-height: 22.0;
    -fx-min-height: 22.0;
}
.yield-setting-label-padding{
    -fx-padding: 5 0;
    -fx-alignment: center;
}
.yield-setting-h-box1{
    -fx-min-height: 22.0;
    -fx-pref-height: 22.0;
    -fx-spacing: 14;
}
.yield-setting-label-style{
    -fx-min-width: 8.0;
    -fx-padding: 5 0;
    -fx-alignment: center;
}
.yield-setting-text-field{
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-pref-width: 55;
    -fx-alignment: center;
}
.yield-setting-h-box2{
    -fx-pref-height: 45.0;
    -fx-spacing: 10;
    -fx-padding: 0 10;
    -fx-alignment:CENTER_RIGHT ;
}
.yield-setting-btn{
 -fx-pref-width: 80.0;
}

/******************************************************************************
*                                                                              *
*                           yield_setting.fxml  所有的css                       *
*                                                                              *
 ******************************************************************************/

.yield-result-chart-anchor-pane{
    -fx-min-height: 200.0;
    -fx-border-color: #ffffff;
}
.yield-result-chart-h-box{
    -fx-min-height: 245.0;
    -fx-max-height: 245.0;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 0;
}
.yield-result-split-pane{
    -fx-min-width: 400;
    -fx-pref-width: 425;
}
.yield-result-tab-pane{
    -fx-pref-height: 245.0;
    -fx-tab-max-width: 100.0;
    -fx-tab-min-width: 100.0;
}
.yield-result-v-box-bar-chart{
    -fx-padding: 20 0 0 0;
    -fx-min-height: 187.0;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-alignment: center;
}
.yield-result-bar-chart1{
    -fx-min-width: 180.0;
    -fx-min-height: 187.0;
    -fx-tab-max-width: 200;
    -fx-background-color: #ffffff;
    -fx-column-halignment: 1px;
    -fx-row-valignment: 1px
}

.yield-result-v-box3{
    -fx-background-color:#FAFAFA ;
    -fx-min-height: 220.0;
    -fx-max-height: 220.0;
    -fx-alignment: center;
}
.yield-result-chart-v-box3{
    -fx-max-height: 244.0;
    -fx-min-height: 244.0;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 20;
}
.yield-result-chart-tab-pane{
    -fx-max-height: 244.0;
    -fx-min-height: 244.0;
    -fx-pref-width: 880.0;
    -fx-max-width: 1000;

}
.yield-result-v-box4{
    -fx-max-height: 244.0;
    -fx-min-height: 244.0;
    -fx-alignment:TOP_CENTER ;
    -fx-spacing: 20;
}
.yield-result-chart-h-box2{
    -fx-max-height: 27;
    -fx-min-height: 27;
    -fx-border-color: #F0F0F0;
    -fx-border-width: 0 0 1 0;
    -fx-spacing: 20;
    -fx-padding: 2 0 2 15;
    -fx-alignment: CENTER_LEFT;
}
.yield-result-chart-label{
    -fx-max-height: 22.0;
    -fx-max-width: 90.0;
    -fx-min-height: 22.0;
    -fx-min-width: 90.0;
    -fx-pref-width: 90.0;
}
.yield-result-chart-com-box{
    -fx-max-height: 22.0;
    -fx-max-width: 22.0;
    -fx-min-height: 22.0;
    -fx-min-width: 80.0;
    -fx-pref-width: 120.0;
}
.yield-result-chart-v-box4{
    -fx-max-height: 165;
    -fx-min-height: 165;
    -fx-alignment: center;
    -fx-padding:  0 5 0 0;
    -fx-border-width: 0;
}
.yield-result-bar-chart2{
    -fx-stroke-width: 10px;

}












