
.table-no-header .column-header-background {
    -fx-max-height: 0px;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
}

.chart {
    -fx-font-family: Tahoma;
    -fx-font-size: 0.9em;
}

.chart-vertical-grid-lines {
    -fx-stroke-width: 0px;
}

.chart-horizontal-grid-lines {
    -fx-stroke-width: 0px;
    -fx-stroke: transparent;
}

/*chart style*/
.chart-plot-background {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc #dcdcdc transparent transparent;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-font-family: Tahoma;
    -fx-tick-length: 5;
    -fx-minor-tick-length: 0;
}

.axis:bottom {
    -fx-border-color: #dcdcdc transparent transparent transparent;
}

.axis:left {
    -fx-border-color: transparent #dcdcdc transparent transparent;
}

.axis-label {
    -fx-text-fill: #462300;
}

/*line*/
.line {
    -fx-stroke: #6fc1be;
}

.line:hover {
    -fx-stroke-width: 2px;
}

.dashed-line {
    -fx-stroke-dash-array: 4px;
}

.dashed-line:hover {
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px;
}

.solid-line {

}

.solid-line:hover {
    -fx-stroke-width: 2px;
}

.hidden-line {
    -fx-stroke-width: 0px;
}

/* ====== LINE CHART =========================================================== */

/*chart line style*/
.chart-series-line {
    -fx-stroke-width: 1px;
}

.chart-series-hidden-line {
    -fx-stroke-width: 0px;
}

/*chart symbol */
.chart-line-symbol {
    -fx-padding: 4px;
    -fx-background-insets: 1px;
}

.chart-line-symbol:hover {
    -fx-background-insets: 0px;
}

.chart-line-hidden-symbol {
    -fx-background-insets: 4px;
}

/* solid triangle */
.chart-symbol-triangle {
    -fx-background-insets: -2;
    -fx-shape: "M5,3 L10,8 L0,8 Z";
    -fx-scale-shape: false;
}

.chart-symbol-triangle:hover {
    -fx-background-insets: -2;
}

/* ====== AREA CHART =========================================================== */
.chart-area-symbol {
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-padding: 0px;
}

.chart-series-area-line {
    -fx-stroke-width: 1px;
}

.chart-fill-area-line {
    /*-fx-stroke: transparent;*/
    -fx-opacity: 0.5;
}

/*Bar Chart*/
.chart-bar {
    -fx-stroke-width: 1px;
}

.chart-bar:hover {
    -fx-border-color: #e92822;
}

.chart-hidden-bar {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

/* ====== CANDLE STICK CHART =========================================================== */
.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-padding: 2 5 2 0;
}

.candlestick-average-line {
    -fx-stroke-width: 1px;
}

.candlestick-candle {
    /*-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0.0, 2, 4);*/
}

.candlestick-line {
    -fx-stroke: #6fc1be;
    -fx-stroke-width: 2px;
}

.candlestick-bar {
    -fx-padding: 5;
    -demo-bar-fill: #6fc1be;
    -fx-background-color: linear-gradient(derive(-demo-bar-fill, -30%), derive(-demo-bar-fill, -40%)),
    linear-gradient(derive(-demo-bar-fill, 100%), derive(-demo-bar-fill, 10%)),
    linear-gradient(derive(-demo-bar-fill, 10%), derive(-demo-bar-fill, -10%));
    -fx-background-insets: 0, 1, 1;
}

.candlestick-bar.close-above-open {
    -demo-bar-fill: #6fc1be;
}

.candlestick-bar.open-above-close {
    -demo-bar-fill: #6fc1be;
}

.btn-tab {
    -fx-border-width: 0px 1px 0px 0px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #e7e7e7;
    -fx-alignment: center-left;
}

.btn-tab:hover {
    -fx-background-color: white;
}

.btn-tab:pressed {
    -fx-border-color: white;
    -fx-background-color: white;
}

.btn-tab:focused {
    -fx-border-color: #e7e7e7;
    -fx-border-style: solid;
}

.btn-tab:focused:hover {
    -fx-border-color: #f0f0f0;
    -fx-border-style: solid;
}

.btn-tab-active {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: #e7e7e7;
    -fx-background-color: white;
}

.tabPane-vertical {
    -fx-background-color: #f0f0f0;
}

.list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-pref-height: 22;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: null;
    -fx-border-color: #dcdcdc;
    -fx-padding: 1, 1, 1, 1;
    -fx-translate-y: 3;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background: -fx-control-inner-background;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #0096ff;
    -fx-background-insets: 0, 1, 2;
}

.menu-button {
    -fx-min-width: 20px;
    -fx-max-width: 20px;
    -fx-pref-width: 20px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.menu-icon {
}

.menu-icon > .container > .menu-button {
    -fx-padding: 0em 0em 0em -0.63em;
}








