.mytext_ok {
    -fx-background-color: Red;
}

#viewDataTable .column-header .label.filter-header {
    -fx-padding: 0 10 0 0;
}

#viewDataTable .column-header .label {
    -fx-padding: 0 0 0 10;
}

#viewDataTable .column-header .down-arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-min-width: 17;
    -fx-min-height: 20;
}

#viewDataTable .filter-hbox .button {
    -fx-background-color: red;
    -fx-min-width: 20;
    -fx-min-height: 20;
}

.table-filter-btn {
    -fx-min-height: 21;
    -fx-min-width: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
}

.table-filter-btn:hover {
    -fx-border-color: null;
    -fx-background-color: null;
}

.table-filter-btn:pressed {
    -fx-background-color: null;
}

.table-filter-btn:focused, .btn-icon:focused:hover {
    -fx-border-color: COLOR_GRAY_66;
    -fx-border-style: dotted;
}

.table-view .column-header .label .label {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}