.mytext_ok {
    -fx-background-color: Red;
}

#viewDataTable {
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.ExpandableTableViewSkin";
}

#viewDataTable .column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#viewDataTable .column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

#viewDataTable .column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

#viewDataTable .column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

#viewDataTable .column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

#viewDataTable .column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

#viewDataTable .filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.column-header.filter-header .button {
    -fx-min-width: 17;
    -fx-min-height: 21;
    -fx-pref-height: 21;
    -fx-border-width: 0 0 0 1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.column-header.filter-header:hover .filter-normal {
    -fx-background-image: url('/images/arrow-down-small.svg');
}

.column-header.filter-header .filter-active {
    -fx-background-image: url('/images/btn_filter_normal.png');
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
}

.column-header.filter-header:hover .button {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 2;
    -fx-background-color: #e5f4ff;
    -fx-border-color: #dcdcdc;
}

.column-header.filter-header:hover .button:hover {
    -fx-background-color: #ceeaff;
}

.column-header.filter-header .button:armed {
    -fx-background-color: #c3d0d9;
}

.filter-header .label {
    -fx-content-display: right;
    -fx-padding: 0 -4 0 10;
    -fx-skin: "com.dmsoft.firefly.gui.components.skin.FilterTableHeaderLabel";
}

.table-filter-btn {
    -fx-min-height: 21;
    -fx-min-width: 21;
    -fx-pref-height: 21;
    -fx-pref-width: 21;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
}

.table-filter-btn:hover {
    -fx-border-color: null;
    -fx-background-color: null;
}

.table-filter-btn:pressed {
    -fx-background-color: null;
}

.table-filter-btn:focused, .btn-icon:focused:hover {
    -fx-border-color: COLOR_GRAY_66;
    -fx-border-style: dotted;
}

.table-view .column-header .label .label {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}

/**
table
**/
.cell .edited {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}

.btn-timer {
    -fx-text-fill: COLOR_LIGHT_FF;
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
    -fx-border-insets: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-timer:hover {
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
}

.btn-timer:pressed {
    -fx-highlight-fill: #5eb511;
    -fx-border-color: #5eb511;
    -fx-background-color: #5eb511;
}

.btn-timer:focused {
    -fx-border-color: COLOR_LIGHT_FF;
    -fx-border-style: dotted;
    -fx-border-insets: 1;
}

.btn-timer:focused:hover {
    -fx-border-color: COLOR_LIGHT_FF;
    -fx-border-style: dotted;
    -fx-border-insets: 1;
}


/*******************************************************************************
 *                                                                             *
 * spc additem page css                                                              *
 *                                                                             *
 ******************************************************************************/

.spc-additem-h-box-first{
    -fx-padding: 0 10.0 0 10.0;
    -fx-pref-height: 30.0;
    -fx-alignment: center-left;
}

.spc-additem-h-box-first > .button{
    -fx-min-width: 22.0;
    -fx-pref-width: 22.0;
    -fx-background-color: COLORFUL_AUXILIARY_BLUE;
}

.spc-additem-h-box-second{
    -fx-spacing: 10.0;
    -fx-padding: 0 10.0 0 10.0;
    -fx-pref-height: 255.0;
}

.spc-additem-h-box-second-vbox{
    -fx-alignment: center;
    -fx-spacing: 3.0;
    -fx-padding: 3.0 0 0 0;
    -fx-pref-height: 228.0;
    -fx-pref-width: 190.0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-additem-h-box-third{
    -fx-padding: 10.0;
    -fx-alignment: center_right;
}

.spc-additem-h-box-second-table {
    -fx-min-height: 228.0;
    -fx-min-width: 190.0;
    -fx-pref-height: 228.0;
    -fx-pref-width: 190.0;
}

.spc-additem-table-second-column{
    -fx-pref-width: 160;
}


/*******************************************************************************
 *                                                                             *
 * spc choose page css                                                              *
 *                                                                             *
 ******************************************************************************/
.spc-choose-root{
    -fx-padding: 10 10 0 10;
}

.spc-choose-header{
    -fx-spacing: 10.0;
    -fx-padding: 3.0 0 3.0 3.0;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-choose-header-check{
    -fx-pref-height: 22;
    -fx-pref-width: 100;
    -fx-label-padding: 0 0 0 10;
}

.spc-choose-footer{
    -fx-padding: 10.0;
    -fx-alignment: center_right;
}

/*******************************************************************************
 *                                                                             *
 * spc quick_search page css                                                              *
 *                                                                             *
 ******************************************************************************/
.spc-hbox-search{
    -fx-alignment: bottom_right;
    -fx-pref-height: 224.0;
    -fx-spacing: 10;
}

.spc-vbox-search{
    -fx-spacing: 18;
    -fx-alignment: bottom_left;
}

.spc-hbox-whole{
    -fx-spacing: 43;
    -fx-pref-height: 90;
}

/*******************************************************************************
 *                                                                             *
 * spc detail page css                                                              *
 *                                                                             *
 ******************************************************************************/
.spc-detail-window{
    -fx-padding: 10;
    -fx-pref-height: 330;
    -fx-pref-width: 410;
}

.spc-detail-header{
    -fx-spacing: 10.0;
    -fx-padding: 5.0 0 5.0 5.0;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-detail-table{
    -fx-pref-height: 296;
    -fx-pref-width: 388;
    -fx-border-width: 1;
    -fx-border-color: COLOR_GRAY_DC;
}

/*******************************************************************************
 *                                                                             *
 * spc export setting page css                                                 *
 *                                                                             *
 ******************************************************************************/
.spc-export-setting-scroll,.spc-export-setting-scroll:hover{
    -fx-border-width: 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-export-setting-grid{
    -fx-padding: 20;
    -fx-vgap: 5;
}

.spc-export-setting-lbl{
    -fx-text-fill: COLOR_GRAY_AA;
}

.spc-export-setting-check{
    -fx-label-padding: 0 0 0 10;
}

.spc-export-setting-far-check{
    -fx-label-padding: 15 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 *spc export page css                                                          *
 *                                                                             *
 ******************************************************************************/
.spc-export-h-box{
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
    -fx-border-color: COLOR_GRAY_DC;
}
.spc-export-v-box-left{
    -fx-pref-height:200.0 ;
    -fx-pref-width: 100.0;
    -fx-padding:10 0 0 20;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: COLOR_GRAY_DC;
}
.spc-export-location-path{
    -fx-pref-width: 250.0;
    -fx-border-width: 1 0 1 1;
}
.spc-export-split{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: COLOR_GRAY_DC;
}
.spc-export-tab{
    -fx-pref-width: 180.0;
    -fx-min-width: 180.0;
    -fx-pref-height: 270.0;
    -fx-border-width: 0 0 0 0;
}
.spc-export-item-table,
.spc-export-item-table:focused{
    -fx-border-width: 1 0 0 0;
}

.spc-import-btn{
    -fx-alignment: center_right;
    -fx-pref-width: 180.0;
    -fx-padding: 0 20 0 0;
}

.spc-export-left-right{
    -fx-label-padding: 0 10 0 10;
}

.spc-export-item{
    -fx-padding: 0 5 0 5;
    -fx-image: url('/images/datasource.svg');
}
.spc-export-config{
    -fx-padding: 0 5 0 5;
    -fx-image: url('/images/config.svg');
}

.spc-export-timer{
    -fx-padding: 0 5 0 5;
    -fx-image: url('/images/timer.svg');
}

.spc-export-import-btn-image{
    -fx-image: url('/images/load-script.svg')
}

.spc-export-export-btn-image{
    -fx-image: url('/images/save.svg')
}
/*******************************************************************************
 *                                                                             *
 *spc statistical result page css                                              *
 *                                                                             *
 ******************************************************************************/

.spc-result-filter{
    -fx-padding: 3 3 3 0;
    -fx-spacing: 10.0;
    -fx-alignment: CENTER_RIGHT;
}

.spc-result-filter-text{
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-pref-width: 300;
    -fx-label-padding: 3 0 3 0;
    -fx-border-width: 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-result-table,.spc-result-table:selected,.spc-result-table:focused,.spc-result-table:hover{
    -fx-pref-height: 416;
    -fx-pref-width: 435;
    -fx-border-width: 1 0 0 0;
}

.spc-result-btn{
    -fx-image: url('/images/choose-test-items.svg');
}

/*******************************************************************************
 *                                                                             *
 *spc item page css                                                            *
 *                                                                             *
 ******************************************************************************/

.spc-item-tab{
    -fx-pref-width: 180.0;
    -fx-min-width: 180.0;
    -fx-pref-height: 270.0;
    -fx-min-height: 270.0;
    -fx-border-width: 0 0 0 0;
}
.spc-item-table,
.spc-item-table:focused{
    -fx-border-width: 1 0 0 0;
}
.spc-config{
    -fx-padding: 10 10 0 10;
    -fx-min-width: 160.0;
    -fx-pref-width: 160.0;
    -fx-pref-height: 350.0;
}
.spc-import-btn{
    -fx-alignment: center_right;
    -fx-pref-width: 180.0;
    -fx-padding: 0 20 0 0;
}

.spc-item-split{
    -fx-min-width: 180;
    -fx-pref-height: 600;
    -fx-border-width: 0 0 0 0;
}
.spc-item-btn{
    -fx-padding: 0 20;
    -fx-border-color:COLOR_GRAY_DC;
    -fx-border-width: 1 0 0 0;
}

.spc-item-config-root{
    -fx-padding: 10;
    -fx-spacing: 15;
}

.spc-item-config-v{
    -fx-spacing: 5;
}

.spc-item-config-sub{
    -fx-spacing: 60;
    -fx-alignment: CENTER_RIGHT;
}

.spc-item-config-nd{
    -fx-spacing: 8;
}

.spc-item-attribute-top{
    -fx-text-fill: COLORFUL_ATRRIBUTE_BLUE;
    -fx-background-color: COLORFUL_LIGHT_GREEN
}

.spc-item-attribute{
    -fx-text-fill: COLORFUL_ATRRIBUTE_BLUE;
}

.spc-item-top{
    -fx-background-color: COLORFUL_LIGHT_GREEN
}

.spc-item-analysis-btn{
    -fx-image: url('/images/analysis-white.svg');
}

.spc-item-lbl{
    -fx-background-color: COLORFUL_ATRRIBUTE_BLUE;
}
/*******************************************************************************
 *                                                                             *
 * spc setting page css                                                              *
 *                                                                             *
 ******************************************************************************/
#customAlarmTable .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.alarm-root{
    -fx-alignment: center;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-text-fill: COLOR_LIGHT_FF;
}

.alarm-excellent {
    -fx-background-color: COLORFUL_DARK4_GREEN;
}

.alarm-good {
    -fx-background-color: COLORFUL_DARK_CYAN;
}

.alarm-acceptable {
    -fx-background-color: COLORFUL_DARK_BLUE;
}

.alarm-rectification {
    -fx-background-color: COLORFUL_DARK_ORANGE;
}

.alarm-bad {
    -fx-background-color: COLORFUL_PRIMARY_RED;
}

.spc-setting-hbox{
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-setting-left-vbox{
    -fx-background-color: COLOR_GRAY_F0;
}

.spc-setting-left-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22;
    -fx-pref-width: 160;
}

.spc-setting-label-font{
    -fx-font-weight: bold;
}

.spc-setting-bottom-label{
    -fx-padding: 0 0 10 0;
}

.spc-setting-box-right{
    -fx-padding: 10 10 0 10;
    -fx-spacing: 10.0;
    -fx-alignment: BOTTOM_RIGHT;
}

.spc-setting-rule-vbox{
    -fx-pref-width: 100;
    -fx-pref-height: 200;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: COLOR_GRAY_DC;
    -fx-background-color: COLOR_GRAY_F8;
}

.spc-setting-custom-hbox-left{
    -fx-alignment: center_right;
    -fx-min-height: 29.0;
    -fx-pref-height: 29.0;
    -fx-spacing: 10;
    -fx-padding: 3 0;
    -fx-border-width: 1 0 0 1;
    -fx-border-color: COLOR_GRAY_DC;
}
.spc-setting-custom-hbox-right{
    -fx-alignment: center_left;
    -fx-min-height: 29.0;
    -fx-pref-width: 29.0;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-setting-custom-label{
    -fx-padding: 20 0 10 0;
}

.spc-setting-hbox-right{
    -fx-padding: 0 3 0 0;
}

.spc-setting-table-border{
    -fx-border-width: 1 0 1 1;
}

.spc-setting-right-header{
    -fx-spacing: 20;
}

.spc-setting-add-btn{
    -fx-pref-height: 22.0;
    -fx-pref-width: 22.0;
    -fx-background-size: 16;
    -fx-background-image:  url('/images/add.svg');
}

.spc-setting-export-btn{
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
    -fx-background-size: 16;
    -fx-background-image:  url('/images/setting.svg');
}

.spc-setting-color-btn{
    -fx-background-color: COLOR_GRAY_F0;
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22;
    -fx-pref-width: 160;
}

.spc-setting-focus-color-btn{
    -fx-background-color: COLOR_LIGHT_FF;
    -fx-padding: 0 0 0 10;
    -fx-pref-height: 22;
    -fx-pref-width: 160;
}

/*******************************************************************************
 *                                                                             *
 * spc chart page css                                                          *
 *                                                                             *
 ******************************************************************************/
.spc-chart-tab{
    -fx-border-width: 0;
}

/*******************************************************************************
 *                                                                             *
 * spc view data page css                                                      *
 *                                                                             *
 ******************************************************************************/
.spc-view-data-tab{
    -fx-border-width: 0;
}

.spc-view-data-header{
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 10;
    -fx-padding: 3 3 3 0;
}

.spc-view-data-filter{
    -fx-max-width: 200;
    -fx-pref-width: 200;
    -fx-border-width: 1;
    -fx-border-color: COLOR_GRAY_DC;
}

.spc-view-data-btn{
    -fx-max-height: 22;
    -fx-pref-width: 22;
    -fx-max-width: 22;
    -fx-pref-width: 22;
    -fx-background-size: 16;
}

.spc-view-data-table{
    -fx-border-width: 1 0 0 0;
}

.spc-view-data-clear-Image{
    -fx-image: url('/images/filter-clear.svg');
}

.spc-view-data-choose-Image{
    -fx-image: url('/images/choose-test-items.svg');
}
/*******************************************************************************
 *                                                                             *
 * spc page css                                                              *
 *                                                                             *
 ******************************************************************************/
.spc-btn-size{
    -fx-pref-width: 22.0;
    -fx-pref-height: 22.0;
    -fx-background-size: 16;
}
.spc-reset-btn {
    -fx-background-image: url('/images/reset.svg');
}
.spc-print-btn {
    -fx-background-image: url('/images/print.svg');
}
.spc-export-btn {
    -fx-background-image: url('/images/export.svg');
}
.spc-choose-btn {
    -fx-max-width: 22.0;
    -fx-min-width: 22.0;
    -fx-background-image: url('/images/check-white.svg');
}

.spc-border{
    -fx-padding: 0 5 0 10;
    -fx-pref-height: 28.0;
}