<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. For Intelligent Group.
  -->

<configuration>

    <property name="PROJECT_NAME" value="Firefly-DAP-Core"/>
    <property name="LOG_HOME" value="log"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %thread |-%-5level in %F:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/DAP.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %thread |-%-5level in %F:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.netflix.discovery" level="info"/>

    <!-- project default level -->
    <logger name="com.dmsoft.firefly" level="debug">
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <logger name="org" level="info">
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>